# Use cross-validation to train a regression model

Read in the `data/Sacramentorealestatetransactions.csv` file

In [1]:
import pandas as pd
dat = pd.read_csv('../data/Sacramentorealestatetransactions.csv')
dat.head()

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

In [2]:
X = dat['beds baths sq__ft latitude longitude'.split()]
y = dat['price']
X.head()

   beds  baths  sq__ft   latitude   longitude
0     2      1     836  38.631913 -121.434879
1     3      1    1167  38.478902 -121.431028
2     2      1     796  38.618305 -121.443839
3     2      1     852  38.616835 -121.439146
4     2      1     797  38.519470 -121.435768

Use k-fold cross-validation with 5 splits to evaluate a `LinearRegression` on the data set

In [3]:
from sklearn.model_selection import KFold, cross_val_score

In [4]:
from sklearn.linear_model import LinearRegression

In [5]:
model = LinearRegression()
cv = KFold(n_splits=5, random_state=123, shuffle=True)
cross_val_score(model, X, y, cv=cv)

array([0.24554525, 0.34150423, 0.19276837, 0.2321284 , 0.29109954])

In [6]:
cross_val_score(model, X, y,)

array([ 0.28003873,  0.1869326 ,  0.32555213, -0.22597209,  0.04364958])

Use k-fold cross-validation with 5 splits to evaluate a `RandomForestRegressor` on the data set

In [7]:
from sklearn.ensemble import RandomForestRegressor

In [8]:
model = RandomForestRegressor()
cv = KFold(n_splits=5, random_state=123, shuffle=True)
cross_val_score(model, X, y, cv=cv)

array([0.6376077 , 0.6624615 , 0.57251027, 0.58808231, 0.68812915])